fastapi
uvicorn
pydantic>=2
pydantic-settings
email-validator
pwdlib[argon2]
PyJWT
google-auth[requests]
sqlalchemy[asyncio]>=2.0
geoalchemy2
psycopg[binary]
httpx
pyyaml
pytest
pytest-cov
osmnx
alembic
asyncpg
sqladmin>=0.20,<0.22
itsdangerous
networkx
shapely
pyproj